@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  font: normal normal normal 100%/1.5 'Open Sans', sans-serif;
  overflow-wrap: break-word;
  min-width: 320px;
  max-width: 700px;
  margin: 0;
}
header,
footer {
  padding: .5rem;
}
main {
  padding: 0 .5rem;
}
footer {
  padding-top: 1rem;
}
@media (min-width: 576px) {
  header,
  footer {
    padding: 1rem;
  }
  main {
    padding: 0 1rem;
  }
  footer {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  header,
  footer {
    padding: 2rem;
  }
  main {
    padding: 0 2rem;
  }
  footer {
    padding-top: 4rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
ul {
  padding-left: 1.5rem;
}
ul li {
  margin: .5rem 0;
}
blockquote {
  margin: 1.5rem;
}
blockquote p {
  padding-left: 1rem;
  border-left: .5rem solid;
}
a[title*=title] {
  font-size: 1.5rem;
}
a.uri {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  max-width: 10em;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
img[title*=badge] {
  height: 1.5rem;
  margin-right: .08rem;
}
img[title*=icon],
img[title*=screenshot] {
  border: 1px solid;
}
img[title*=icon] {
  height: 2rem;
  padding: .25rem;
  border: 1px solid;
  border-radius: .3rem;
}
img[title*=screenshot] {
  box-sizing: border-box;
  object-fit: cover;
  object-position: 50% 1%;
  min-width: 100%;
  height: 10rem;
}
/* Default skin. */
body {
  background: url(assets/background.jpg) 700px top / auto no-repeat fixed;
}
body,
body * {
  transition-property: background-color, color, border-color;
  transition-duration: .5s, .5s, .5s;
}
@media (min-width: 992px) {
  body {
    background-position: 800px;
  }
}
/* Light skin. */
body.light {
  background-color: #ffffff;
  color: #4d4d4d;
}
body.light a {
  color: #3f51b5;
}
body.light img[title*=icon],
body.light img[title*=screenshot] {
  border-color: #cccccc;
}
/* Dark skin. */
body.dark {
  background-color: #000000;
  color: #b3b3b3;
}
body.dark a {
  color: #708090;
}
body.dark img[title*=icon],
body.dark img[title*=screenshot] {
  border-color: #333333;
}
